.crud-buttons {
  display: flex;
  gap: 10px;
}

.crud-button {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #3498db;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.crud-button:hover {
  background-color: #2980b9;
}

.icon {
  margin-right: 5px;
}
