.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.switch-light {
  padding: 0;
  background: #fff;
  background-image: none;
}
.switch-light .switch-label {
  background: #fff;
  border: solid 2px #eceeef;
  box-shadow: none;
}
.switch-light .switch-label:after {
  color: #9370db;
}
.switch-light .switch-label:before {
  right: inherit;
  left: 11px;
}
.switch-light .switch-handle {
  top: 6px;
  left: 72px;
  background: #dadada;
  width: 22px;
  height: 22px;
  box-shadow: none;
}
.switch-light .switch-handle:before {
  background: #eceeef;
}
.switch-light .switch-input:checked ~ .switch-label {
  background: #fff;
  border-color: #9370db;
}
.switch-light .switch-input:checked ~ .switch-handle {
  left: 72px;
  box-shadow: none;
  background: #9370db;
}
.switch-light .switch-input:checked ~ .switch-handle:before {
  background: rgba(255, 255, 255, 0.7);
}
