.password-input-container {
  display: flex;
  align-items: center;
  margin: 10px;
}

.password-input {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-right: 5px;
}

.eye-icon {
  cursor: pointer;
  user-select: none;
  font-size: 20px;
}
