.button-container {
  display: flex;
  gap: 10px;
}

/* .rounded-button {
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  background-color: #3498db;
  color: #fff;
  text-decoration: none;
  transition: background-color 0.3s;
}

.rounded-button:hover {
  background-color: #2980b9;
} */

.rounded-button {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  border-radius: 20px;
  overflow: hidden;
  color: #a11818;
  text-decoration: none;
  transition: color 0.3s;
}

.rounded-button:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  border-radius: 25%;
  background-color: #3498db;
  transform: translate(-50%, -50%);
  transition: width 0.3s ease-out, height 0.3s ease-out;
}

.rounded-button:hover {
  color: #ffffff; /* Change text color on hover */
}

.rounded-button:hover:before {
  width: 100%;
  height: 100%;
  box-shadow: 5px 5px 5px #a11818;
  z-index: -1;
}
