.toggle-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 20px;
}

.switch-flat {
  padding: 0;
  background: #fff;
  background-image: none;
}
.switch-flat .switch-label {
  background: #fff;
  border: solid 2px #eceeef;
  box-shadow: none;
}
.switch-flat .switch-label:after {
  color: #0088cc;
}
.switch-flat .switch-handle {
  top: 6px;
  left: 6px;
  background: #dadada;
  width: 22px;
  height: 22px;
  box-shadow: none;
}
.switch-flat .switch-handle:before {
  background: #eceeef;
}
.switch-flat .switch-input:checked ~ .switch-label {
  background: #fff;
  border-color: #0088cc;
}
.switch-flat .switch-input:checked ~ .switch-handle {
  left: 72px;
  background: #0088cc;
  box-shadow: none;
}
